<html>
   <head>
      <title>Vue Example</title>
      <meta charset="utf-8">
      <style>
         .div{ margin:10px;padding:12px; border:2px solid #666; width:60px;}
      </style>
   </head>

   <body>
      <div id='app'>
         {{message}}
      </div>
      <div id='app-2'>
         <span v-bind:title='message'>
            Hover.
         </span>
      </div>
      <div id='app-3'>
         <p v-if="seen">see me.</p>
      </div>
      <div id='app-4'>
         <ol>
            <li v-for='todo in todos'>{{todo.text}}</li>
         </ol>
      </div>
      <div id='app-5'>
         <p>{{message}}</p>
         <button v-on:click='reverseMessage'>Reverse</button>
      </div>
      <div id='app-6'>
         <p>{{message}}</p>
         <input type="text" name="" v-model='message'>
      </div>
      <div id='app-7'>
         <ol>
            <todo-item v-for='item in groceryList' v-bind:todo='item'></todo-item>
         </ol>
      </div>
      <script src='lib/vue.js' type="text/javascript"></script>
      <script type="text/javascript">
         //{{}}
         var app = new Vue({
            el: '#app',
            data: {
               message: 'Hello Vue!'
            }
         });
         //v-bind
         var app2 = new Vue({
            el: '#app-2',
            data: {
               message: 'time:' + new Date()
            }
         });
         //v-if
         var app3 = new Vue({
            el: '#app-3',
            data: {
               seen: true  
            }
         });
         //v-for
         var app4 = new Vue({
            el: '#app-4',
            data: {
               todos: [
                  {text: 'learn 1'},
                  {text: 'learn 2'},
                  {text: 'learn 3'}
               ]
            }
         });
         //method
         var app5 = new Vue({
            el: '#app-5',
            data: {
               message: 'Hello Vue.js',
            },
            methods: {
               reverseMessage: function(){
                  this.message = this.message.split('').reverse().join('');
               }
            }
         });
         var app6 = new Vue({
            el:' #app-6',
            data: {
               message: 'Hello Vue!',

            }
         });
         //Component
         Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
         });
         //v-for & component
         var app7 = new Vue({
            el:'#app-7',
            data: {
               groceryList: [
                  {id:0, text: 'item-1'},
                  {id:1, text: 'item-2'},
                  {id:2, text: 'item-3'}
               ]
            }
         })
      </script>
   </body>
</html>